frontend/
docker/
.git/
.idea/
.vscode/
.venv/
venv/
.pytest_cache/
__pycache__/
**/__pycache__/
**/tests/
.gitignore
.coverage
.flake8
.python-version
.dockerignore
dockerfile
compose.yaml
pytest.ini
README.md