.idea/
.vscode/
.venv/
venv/
.pytest_cache/
.git/
frontend/
__pycache__/
**/__pycache__/
dockerfile
.dockerignore
.gitignore
data/
docker/
.coverage
README.md
**/tests/
.flake8
.python-version
pytest.ini